.AdicionaGarrafaModal {
    font-family: "Exo";
    border-radius: 10px;
    max-height: 350px;
    box-sizing: border-box;
    width: 325px;
    display: flex;
    position: relative;
    transform: translateY(-15px);
    margin-right: -45px;
  }
  
  .AdicionaGarrafaModal form div {
    display: flex;
    margin: 15px 0;
  }
  
  .AdicionaGarrafaModal form {
    width: 100%;
  }
  
  .AdicionaGarrafaModal div input {
    border: none;
    background: rgba(255, 255, 255, 0.3);
    width: 100%;
    margin-left: 15px;
    border-radius: 5px;
    height: 20px;
    padding: 2px 10px;
  }
  
  .AdicionaGarrafaModal_text {
    font-size: 1em;
    line-height: 100%;
  }
  
  .AdicionaGarrafa_foto-label {
    display: flex;
    justify-content: center;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    color: rgb(130, 20, 41);
    cursor: pointer;
    padding: 5px 10px;
  }
  
  .AdicionarGarrafa_foto {
    display: none;
  }
  
  .AdicionaGarrafa_enviar {
    background-color: rgb(130, 20, 41);
    cursor: pointer;
    color: white;
    width: 100%;
    border-radius: 5px;
    border: none;
    padding: 5px;
  }
  
  .AdicionaGarrafa_enviar:disabled {
    background-color: gray;
  }